# Maven build output
**/target/
*.class

# Eclipse & IDE metadata
**/.classpath
**/.project
**/.settings/
**/.idea/
*.iml
*.iws

# OS & Environment
.DS_Store
Thumbs.db
*.log
.env
.env.local

# Node / Frontend temporary files
**/node_modules/
**/dist/
